name: Push CI/CD
on: 
    push:
        branches:
            - main
            - develop
            - release/*
    pull_request:
        types:
            - opened
        branches:
            - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Step
        run: echo "A  demo buid"
